/* navbar settings */
.sub-nav dt.active a,
.sub-nav dd.active a,
.sub-nav li.active a {
  border-radius: 3px;
  font-weight: normal;
  background: #2ba6cb;
  padding: 0.1875rem 1rem;
  cursor: default;
  color: #FFFFFF; 
}

/* carousel settings */
#carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* accordion settings */
.accordion dd > a:hover,
.accordion .accordion-navigation > a:hover {
  background-color: #0B57A6;
}

.accordion dd > a,
.accordion .accordion-navigation > a,
.accordion dd.active > a,
.accordion .accordion-navigation.active > a {
  background-color: #276EBA;
  color: #e9e9e9;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* footer settings */
.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #333333;
  padding: 1rem;
  text-align: center;
  color: #e9e9e9;
}
